 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar
{
    display: none;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(bg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 2px;
  perspective: 2900px;
  background-color: black;
  background-attachment: fixed;
}


.page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all  1s ease-out;
    background-color: black;
    animation: page-fade-in 0.5s;
    background-attachment: fixed;
}
@keyframes page-fade-in
{
  from{opacity: 0.1;}
  to{opacity: 1;}
}


.page  video{
    z-index: 1;
    width: 1800px; height: 1000px;
    border-radius: 10px;
    object-fit: cover;
    transform: scale(1.2) translate(0%,0%);
}

.page .card{
  z-index: 2;
  position: absolute;
  top: 360px;
  height:310px;
  transition: all 0.4s ease-in-out;
  animation: border-color 1s;
}


.page .card img{
  font-size: 60px;
  letter-spacing: 2px;
  height: 380px; width: 550px;
  transform: translate3d(0,0,90px);
  animation: card-out 1s;
  border: solid 0px; border-radius: 3px;
  
}

@keyframes card-out
{
  from{
    height: 400px; width: 620px;
    }
  to
  {
    height: 380px;
    width: 550px;
  }
}

.reg-btn
{
  z-index: 3;
  height: fit-content; width: fit-content;
  padding: 5px;
  display: block;
  position: absolute;
  top: 80%;
  background-color: rgb(255, 255, 255);
  color: black;
  border: solid 2px ;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
